Q1. **What is a database? Differentiate between SQL and NoSQL databases.**

- **Database:** A database is a structured collection of data organized in a way that it can be easily accessed, managed, and updated. It serves as a repository for storing and retrieving data efficiently.

- **SQL (Structured Query Language) Databases:**
  - SQL databases are relational databases that store data in tables with predefined schemas.
  - They follow the ACID (Atomicity, Consistency, Isolation, Durability) properties.
  - Examples include MySQL, PostgreSQL, SQLite, Oracle.
  - SQL databases use SQL for querying and manipulating data.

- **NoSQL (Not Only SQL) Databases:**
  - NoSQL databases are non-relational databases that do not require a fixed schema.
  - They offer flexible data models and can handle large volumes of unstructured data.
  - They provide horizontal scalability and high availability.
  - Examples include MongoDB, Cassandra, Redis, Couchbase.
  - NoSQL databases use various query languages and data models, such as document-oriented, key-value, column-oriented, and graph databases.

Q2. **What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

- **DDL (Data Definition Language):** DDL is a subset of SQL used to define and modify the structure of database objects such as tables, indexes, and constraints.

  - **CREATE:** Used to create new database objects such as tables, views, indexes, etc.
    ```sql
    CREATE TABLE employees (
        id INT PRIMARY KEY,
        name VARCHAR(50),
        salary FLOAT
    );
    ```

  - **DROP:** Used to delete existing database objects.
    ```sql
    DROP TABLE employees;
    ```

  - **ALTER:** Used to modify the structure of existing database objects.
    ```sql
    ALTER TABLE employees ADD COLUMN department VARCHAR(50);
    ```

  - **TRUNCATE:** Used to remove all records from a table, while keeping the table structure intact.
    ```sql
    TRUNCATE TABLE employees;
    ```

Q3. **What is DML? Explain INSERT, UPDATE, and DELETE with an example.**

- **DML (Data Manipulation Language):** DML is a subset of SQL used to manipulate data stored in the database.

  - **INSERT:** Used to insert new records into a table.
    ```sql
    INSERT INTO employees (id, name, salary) VALUES (1, 'John', 50000);
    ```

  - **UPDATE:** Used to modify existing records in a table.
    ```sql
    UPDATE employees SET salary = 55000 WHERE id = 1;
    ```

  - **DELETE:** Used to delete existing records from a table.
    ```sql
    DELETE FROM employees WHERE id = 1;
    ```

Q4. **What is DQL? Explain SELECT with an example.**

- **DQL (Data Query Language):** DQL is a subset of SQL used to retrieve data from the database.

  - **SELECT:** Used to retrieve data from one or more tables based on specified criteria.
    ```sql
    SELECT * FROM employees WHERE salary > 50000;
    ```

Q5. **Explain Primary Key and Foreign Key.**

- **Primary Key:** A primary key is a column or a set of columns in a table that uniquely identifies each record in the table. It must be unique and not null. Only one primary key can be defined for each table.
  ```sql
  CREATE TABLE employees (
      id INT PRIMARY KEY,
      name VARCHAR(50),
      salary FLOAT
  );
  ```

- **Foreign Key:** A foreign key is a column or a set of columns in a table that establishes a relationship between two tables. It refers to the primary key of another table, known as the referenced table. It ensures referential integrity by enforcing a link between the data in the two tables.
  ```sql
  CREATE TABLE orders (
      order_id INT PRIMARY KEY,
      customer_id INT,
      FOREIGN KEY (customer_id) REFERENCES customers(id)
  );
  ```

Q6. **Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.**

```python
import mysql.connector

# Establish connection
mydb = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)

# Create cursor object
mycursor = mydb.cursor()

# Execute SQL query
mycursor.execute("SELECT * FROM employees")

# Fetch result
result = mycursor.fetchall()

# Process result
for row in result:
    print(row)

# Close cursor and connection
mycursor.close()
mydb.close()
```

- **cursor():** The cursor() method creates a cursor object that allows Python code to interact with the MySQL database. It is used to execute SQL queries and fetch results.

- **execute():** The execute() method is used to execute SQL queries on the database. It takes an SQL query as a parameter and executes it. It can execute any SQL statement supported by MySQL, including DDL, DML, and DQL statements.